.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.course-div {
  width: 30%;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
}

#course-h2 {
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Alert, .Alert-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

.Alert.show, .Alert-error.show{
  visibility: visible;
  transition: visibility 1s, opacity 1s linear;
  opacity: 1;
}
