.App {
  text-align: center;
  font-family: 'Just Me Again Down Here', sans-serif;
  background-color: #1B2223;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
}

.user {
  min-height: 10vh !important;
}

.App-main {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-main {
  min-height: 65vh !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}

.courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.course-div {
  width: 30%;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
}

#course-h2 {
  width: 100%;
}

h1 {
  font-size: 128px;
  font-weight: lighter;
}

h2 {
  font-size: 40px;
  font-weight: lighter;
}

p {
  font-size: 32px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: #0b6882;
  text-decoration: underline;
}

.Alert, .Alert-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

.Alert.show, .Alert-error.show{
  visibility: visible;
  transition: visibility 1s, opacity 1s linear;
  opacity: 1;
}
