* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
  font-family: 'Just Me Again Down Here', sans-serif;
  background-color: #1B2223;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
}

.user {
  min-height: 10vh !important;
}

.App-main {
  width: 80%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.user-main {
  min-height: 65vh !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.course-elem {
  min-width: 100%;
  margin: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(78, 83, 91);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.course-elem h2 {  
  font-family: 'Kalam', sans-serif;
  font-weight: lighter;
  font-size: 28px;
}

#course-h2 {
  width: 100%;
}

.assignments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-family: 'Kalam', sans-serif;
  background-color: #1B2223;
  border-radius: 10px;
}

.assignments h3 {
  font-size: 24px;
  font-weight: lighter;
}

.assignments h4 {
  font-size: 20px;
  font-weight: lighter;
  text-decoration: underline;
}

.assignments p {
  font-size: 16px;
  font-weight: lighter;
}

.add-assignment {
  width: fit-content;
  margin: 0.5rem;
}

h1 {
  font-size: 118px;
  font-weight: lighter;
}

h2 {
  font-size: 40px;
  font-weight: lighter;
}

p {
  font-size: 32px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: #0b6882;
  text-decoration: underline;
}

/*Desktop*/
@media (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .App-main {
    width: 60%;
  }

  .courses {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .course-elem {
    min-width: 30%;
    margin: 0.5rem;
  }

  .course-elem h2 {
    font-size: 24px;
  }

  .assignments {
    width: 90%;
    padding: 1rem;
  }

  .add-assignment {
    width: fit-content;
    margin: 0.5rem;
  }

  h1 {
    font-size: 118px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 32px;
  }
}